:root {
    --main-teal: #004d4d;
    --main-teal-light: #00b3b3;
    --main-teal-lightest: #01dddd;
    --main-white: #ffffff;
    --main-yellow: yellow;
    --main-orange: #fbb03b;
	--main-red: #f2738c;
    --main-black: #333;
	--main-grey-dark: gainsboro;
	--main-grey: #f4f4f4;
	--main-grey-light: #f8f8f8;
}
.hidden {
    display: none !important;
}
.invisible {
    opacity: 0;
    height: 0px;
    transition: all 0.5s ease;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
.one-line-disp {
	display: flex;
}
.note {
	font-size: 12px;
    color: var(--main-teal);
    padding-left: 15px;
    font-weight: normal;
    width: 100%;
    align-items: flex-end;
    font-style: italic;
}
.vertical-align {
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.change-font {
    font-weight: bolder;
}
a{
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    color: var(--main-teal);
}
html {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: var(--main-black);
}
body {
}
#main-container {
	width: 100%;
}
#main-bundle {
    width: 1000px;
	padding: 20px 0px 20px 0px;
	margin: auto;
}
#fixed-profile {
	width: 1000px;
    border-bottom: 0.1px solid silver;
    padding: 15px 0px;
    display: flex;
    align-items: center;
    background-color: var(--main-grey-light);
    justify-content: center;
    z-index: 100;
}
#fixed-logo {
	width: 50px;
    height: 50px;
}
#fixed-my-name {
	width: 100px;
    padding: 0px 50px 0px 10px;
}
#fixed-contact {
}
#profile {
	display: flex;
    padding-bottom: 20px;
    background: linear-gradient( to left, #00808000 0%, #0080807d 12%, #008080 47%, #0080801f 100% ) left bottom #fff no-repeat;
    background-size: 100% 1px;
}
#profile-pic {
	width: 250px;
	min-width: 250px;
	max-width: 250px;
    height: 250px;
}
#logo {
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#my-dp {
    position: relative;
    top: 35px;
    left: 35px;
    width: 180px;
    height: 180px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    overflow: hidden;
}
.dp-img {
    background: url(../images/bg/mini_golf.png);
    background-size: cover;
    width: 280px;
    height: 280px;
    margin: -50px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
#profile-intro {
	padding-left: 20px;
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.split-text{
    transition: all 0.07s ease;
}
.split-text:hover {
    font-size: 36px;
}
.name, .definition  { 
    font-size: 52px;
    font-weight: bold;
    text-shadow: 0px 1px 10px var(--main-grey);
    display: flex;
}
.sub-name {
    font-size: 14px;
    font-weight: bold;
    display: flex;
    padding: 10px 0px;
    color: var(--main-teal);
    align-items: flex-end;
    margin-left: 30px;
}
.sub-title {
    font-size: 12px;
    font-weight: normal;
    padding-right: 5px;
}
.definition {
    font-size: 32px;
    font-weight: normal;
    padding: 10px 0px 20px 6px;
    color: var(--main-teal);
}
.label {
    font-size: 12px;
    color: var(--main-teal);
}
#details{
	margin: 20px 0px;
}
.contact-icons  {
    padding: 0px 10px;
    font-size: large;
    color: var(--main-teal);
}
#viz-area{
    
}
#content-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.elevator-pitch a {
    font-size: 14px;
    padding: 3px;
    transition: all 0.2s ease;
}
.elevator-pitch a:hover, .pub-list a:hover, .work-links:hover, .code-links:hover  {
	font-weight: bold;
    color: var(--main-orange);
}
.elevator-pitch {
    text-align: justify;
}
.pg-title {
	color: var(--main-teal-light);
    font-size: 32px;
}
#pub-pg, .work-pg, .skills-pg {
    margin-top: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.work-pg {
    justify-content: space-around;
}
.chip, #reset-btn {
	font-size: 14px;
    color: var(--main-teal);
    padding: 10px;
    background-color: var(--main-grey);
    border-radius: 50px;
    margin: 0px 10px 10px 0px;
    cursor: pointer;
    transition: all 0.1s ease;
}
#reset-btn {
	font-weight: bold;
	color: var(--main-red);
}
.chip:hover, #reset-btn:hover {
	box-shadow: 0px 0px 10px var(--main-orange);
}
.chip-clicked {
	color: var(--main-white);
	background-color: teal;
}
.elevator-pitch, #work-container, #pub-container, #skills-container {
	width: 100%;
	margin-top: 20px;
}
#work-container .pg-title{
	justify-content: space-between;
}
.pub-list {
	font-size: 14px;
    padding-left: 30px;
}
.pub-list a {
	font-size: 14px;
}
li {
    overflow: hidden;
    list-style: none;
    white-space: nowrap;
    padding: 5px 5px 5px 5px;
    margin-right: 15px;
    border-radius: 25px;
    display: inline-block;
    font-size: 20px;
}
li a {
	opacity: 0;
    color: var(--main-teal);
	max-width: 0;
	display: inline-block;
	text-decoration: none;
	transition: max-width 1s ease-out .1s, opacity 1s ease-out .1s, color;
}
li:hover {
	background-color: var(--main-grey);
}
li a b {
	float:right;
	display: block;
	padding-right: 1em;
	font:1em/1 'rokkitt', sans-serif;
}
li i {
	color: var(--main-orange);
	line-height:1;
	font-size: 25px;
	display: inline-block;
	padding:.150em .400em;
}
li:hover a {
	opacity: 1;
	max-width: 200px;
	transition: max-width 1s ease-out .1s, opacity 1s ease-out .1s, color .2s;
}
.work-title{
    width: 100%;
}
.work-links {
    text-decoration: none;
    margin-top: 10px;
	transition: all 0.1s ease;
}
.code-links{
    text-decoration: none;
	transition: all 0.1s ease;
}
.date {
    text-align: right;
    font-style: italic;
    color: var(--main-grey-dark);
}
.align-right {
    justify-content: space-between;
}
.screenshot {
    width: 400px;
    height: 250px;
    background-size: cover;
	transition: all 0.1s ease;
}
.work-card {
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 20px var(--main-grey-dark);
	transition: all 0.1s ease;
}
.work-code-date-strip {
    margin-top: 10px;
}
#acumen-hrsp{
    background-image: url("../images/work/hrsp.png");
}
#js-drum-kit{
    background-image: url("../images/work/keyboard.png");
}
#icg{
    background-image: url("../images/work/icg_final.png");
}
#ray-tracing-comp{
background-image: url("../images/work/ray_tracing_comp.jpg");
}
#nlp-qa{
background-image: url("../images/work/nlp_cropped.png");
}
.img-wrap {
    position: relative;
    cursor: pointer;
}
.img-text-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #00b3b3f2;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    transition: opacity .2s, visibility .2s;
}
.img-wrap:hover .img-text-layer  {
    visibility: visible;
    opacity: 1;
}
.img-text {
    transition: .2s;
    transform: translateY(1em);
    padding: 20px;
}
.img-wrap:hover .img-text {
    transform: translateY(0);
}
