:root {
    --main-teal: #004d4d;
    --main-teal-light: #00b3b3;
    --main-teal-lightest: #01dddd;
    --main-white: #ffffff;
    --main-yellow: yellow;
    --main-black: #333;
	--main-grey: #c0c0c0;
}
html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 300px;
    color: var(--main-black);
}
body {
	margin: 0px 8px;
}
.main-g {
    width: 40px;
    height: 40px;
}
.name span:hover{
    color: var(--main-teal-light);
    transform: scale(2);
}
a, #phone{
    font-size: 14px;
    font-style: normal;
    color: var(--main-black);
}
.button {
	padding: 10px;
	background: linear-gradient(to bottom, #ffffff 0%, #dcdcdc 100%);
	border: 0.5px solid var(--main-grey);
	border-radius: 5px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
}
.button:hover {
	background: linear-gradient(to bottom, #f5f5f5 0%, #d3d3d3 100%);
}
.hidden {
    display: none !important;
}
li {
    overflow: hidden;
    background: #ddd;
    list-style: none;
    white-space: nowrap;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    display: inline-block;
    font-size: 20px;
}
li a {
	opacity: 0;
	color: #666;
	max-width: 0;
	display: inline-block;
	text-decoration: none;
	transition: max-width 1s ease-out .1s, opacity 1s ease-out .1s, color;
}
li a:hover {
	color: var(--main-teal-light);
}
li a b {
	float:right;
	display: block;
	padding-right: 1em;
	font:1em/1 'rokkitt', sans-serif;
}
li i {
	color: var(--main-teal-light);
	line-height:1;
	font-size: 25px;
	display: inline-block;
	padding:.150em .400em;
}
li:hover {}
li:hover a {
	opacity: 1;
	max-width: 200px;
	transition: max-width 1s ease-out .1s, opacity 1s ease-out .1s, color .2s;
}
.li-top1{
	margin-left: 99px;
}
.li-top2{
	margin-left: 166px;
}
.li-top3 {
	margin-left: 231px;
}
.li-bot3 {
	
}
.li-bot2 {
	
}
.li-bot1 {
	
}
#main-container {
    height: 100%;
    margin: auto;
}
#main-bundle {
    width: 100%;
    height: 100%;
}
#nav-bar {
    width: 80px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--main-black);
    padding: 10px 10px;
}
.logo {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo-text {
    width: 70px;
    height: 70px;
    cursor: pointer;
    font-size: 60px;
    text-align: center;
    font-family: courier;
    font-weight: bolder;
    color: white;
    border-bottom: 2px solid var(--main-teal-light);
}
#logo {
    width: 70px;
    height: 70px;
}
.logo-spin {
    animation: spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

#nav-bar-sections {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tabs {
    width: 100px;
    color: var(--main-white);
    padding: 30px 10px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
}
.tabs:hover {
    color: var(--main-teal-light);
}
.tabs.active {
    color: var(--main-white);
    background-color: var(--main-teal-light)
}
#content-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 80px;
    background-color: #c0c0c0;
}
.tab-contents{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
	background-image: url(../images/bg/paper_bg.png);
    background-size: cover;
}
#home-pg {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--main-white);
    background-image: url("../images/bg/shore_green.PNG") ;
    background-size: cover;
}
.tab-content-inner {
    z-index: 100;
    padding-top: 10px;
    position: absolute;
}
.attention-seeker {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 7px 50px;
}
.split-text{
    transition: all 0.07s ease;
}
.split-text:hover {
    font-size: 50px;
}
.name, .definition  { 
    font-size: 60px;
    font-weight: bold;
    cursor: pointer;
}
.sub-name {
    font-size: 14px;
    font-weight: bold;
	display: flex;
}
.sub-title {
    font-size: 12px;
    font-weight: normal;
    padding-right: 5px;
}
.definition {
    font-size: 40px;
    color: var(--main-teal-light);
}
.pg-intro a {
    font-size: 12px;
}
#contact-footer {
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0px;
    z-index: 1000;
    background: linear-gradient(145deg, rgba(0, 219, 219, 0.5) 0%, rgba(0, 180, 180, 0.5) 51%, rgba(0, 220, 220, 0.5) 75%), url("../images/rock_texture.jpg");
    background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#main-contact, #sec-contact {
	display: flex;
	justify-content: center;
}
.contacts {
	padding: 10px;
    display:flex;
    align-items: center;
}
.svg-inline--fa {
    padding: 0px 10px;
    font-size: large;
    color: var(--main-black);
}
#work-pg, #about-pg {
    width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#about-pg {
	flex-direction: column;
    margin: 15px;
    
}
.resume-sub-titles {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0px;
    color: var(--main-teal);
}
#skills {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.skills-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px 0px;
    z-index: 100;
}
.chips {
    padding: 5px;
    margin: 5px 10px 5px 0px;
    border: 0.5px solid var(--main-teal);
    border-radius: 5px;
    color: white;
}
#work-pg {
    margin-top: 50px;
}
#resume {
	display: flex;
    flex-direction: column;
	margin-top: 10px;
}
#download {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.work-strip {
    width: 100%;
    height: 100px;
}
.screenshot {
    width: 300px;
    height: 200px;
}
.screenshot:hover {
    opacity: 0.5;
    cursor: pointer;
}
#icg-final-video {
    width: 200px;
}
#network-container {
    width: 100%;
    height: 30%;
    background-color: #333;
}
#contact-tab-content {
	justify-content: center;
    align-items: flex-end;
}
#contact-info {
	display: flex;
    justify-content: space-around;
	align-items: center;
}
#contact-pg {
	padding: 30px;
    display: flex;
    flex-direction: column;
    width: 800px;
    /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: white; */
}
.contact-list {
	max-width: 100px;
	padding: 0px;
    text-align: center;
}
.contact-list-bottom {
	margin-bottom: 70px;
}
#contact-logo {
	padding: 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
	text-align: center;
}
.contact-logo {
	width: 215px;
	height: 215px;
	margin: 50px 0px;
}
.contact-name {
	padding: 20px;
    font-size: 40px;
    font-weight: bold;
    font-family: courier;
    color: #33333333;
    cursor: default;
}
